@(dealerName:String,userName:String,assignedCalls: List[models.InsuranceServiceCall])
@import helper._
@import scala._
@mainPageCREManger("WyzConnectADCC",userName,dealerName) {
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                           Insurance Scheduled Call
                        </div>
                        
                         <div class="panel-body">
                            <div class="dataTable_wrapper">                            
                            <div style="overflow-x: auto">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example21">
                                    <thead>
                                 <tr>
                                 	<th>AgentName</th>
                    				<th>Customer Name</th>
                    				<th>Address</th>                    				
                                    <th>Mobile Number</th>
                                    <th>SaleDate</th>
                                    <th>VIN Number</th>                                    
                                    <th>Model</th>
                                    <th>Variant</th>
                                    <th>Due Date</th>
                                    
                                  <!--    <th class="no-sort">Details</th>  -->                              
                                    
                                 </tr>
                              </thead>
                                <tbody>
                                    
                                 @for(post <- assignedCalls) {
                               <tr>
                               <td>@post.wyzUserInc.userName</td>
                   				<td>@post.customerName</td>
                   				<td>@post.customerAddress</td>
                              	<td>@post.customerPhone</td>
                              	<td>@post.saleDate</td>   
                              	<td>@post.vehicleNumber</td>                              	
                              	<td>@post.model</td>   
                              	<td>@post.variant</td>   
                              	<td>@post.dueDate</td>  
              <td><a href="/CREManager/MoreInfoInsuranceMan/@post.id">More info <i class="fa fa-arrow-circle-right"></a></td>
                              	                               	                                                                      
                                        </tr>
                                      
                                     }
                             
                                   
                                </tbody>
                               
                            </table>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
               
            </div>
            
}