

@(isDownload:Boolean,ajaxData:List[String],dealerName:String,user:String,getAllCounts:List[CallSummary])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

<input type="hidden" id="indexBox1" value='@ajaxData'>  
    
    
    <div class="panel panel-info">
                        <div class="panel-heading">                        
                         
                         CALL SUMMARY
                         
                          @if(isDownload == true){
       <a href="/CREManager/downloadCallHistory" class="btn btn-primary btn-xs pull-right"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Download</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       }
                         
                        </div>
                        
                         <div class="panel-body">
                            <div class="dataTable_wrapper">                            
                            <div style="overflow-x: auto">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example37">
                                    <thead>
                                 <tr> 
                                	                            	
                                    <th>AgentId</th>
                                    <th>Allocated Calls</th>
                                    <th>Pending Calls</th>
                                    <th>Contacts</th>
                                    <th>Service Booked</th>
                                    <th>FollowUp</th>
                                    <th>Service NotRequired</th>
                                    <th>Non Contacts</th>
                                    <th>Ringing NoResponse</th>
                                    <th>Busy</th>
                                    <th>Switched Off</th>
                                    <th>Not Reachable</th>     
                                     <th>Wrong Number</th>                                
                                    
                                    
                                                                                                      
                                    
                                 </tr>
                              </thead>
                                <tbody>
                                    
                                 @for(post <- getAllCounts) {                                 	
                               <tr>                               
                              	<td>@post.agentName</td>
                              	<td>@post.allocatedCallsCount</td>
                              	<td>@post.pendingCallsCount</td>
                              	<td>@post.contactsCallsCount</td>
                              	<td>@post.serviceBookedCount</td>
                              	<td>@post.followUpRequiredCount</td>
                              	<td>@post.serviceNotRequiredCount</td>
                              	<td>@post.noncontactsCallsCount</td>
                              	<td>@post.ringingNoResponseCount</td>
                              	<td>@post.busyCount</td>
                              	<td>@post.switchedOffCount</td>
                              	<td>@post.notReachableCount</td>
                              	<td>@post.wrongNumberCount</td>
                              		                                                                     
                         		 </tr>
                                      
                                     }
                             
                                   
                                </tbody>
                               
                            </table>
                                </div>
                            </div>
                           
                            
                        </div>
                       
                    </div>
    
  
}

<script type="text/javascript">
window.onload = ajaxRequestDataIndexPageCREMAn;
</script> 