

@(dealerName:String,user:String)

@mainPageCREManger("WyzConnectADCC",user,dealerName) {
	@helper.form(action=routes.WyzUserController.postCreateCampaign()){
<div class="fluid-container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Campaign Registration </h3>
        </div>
        <div class="panel-body">
          
            <div class='row'>
              <div class='col-sm-6'>
                <div class='form-group'>
                <label for="campaignId">Campaign Id :</label>   
                 <div class="input-group">       		
         		<input type="text" class="form-control" name="campaignId" placeholder="Enter Campaign Id ..." title="Campaign Id is required" required>   
         		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>        		
                 </div>
                 <div class='form-group'>
                <label for="campaignName">Campaign Name :</label>  
                 <div class="input-group">        		
         		<input type="text" class="form-control" name="campaignName" placeholder="Enter Campaign Name..." title="Campaign Name is required" required>  
         		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>         		
                 </div>                
              </div>
              <div class='col-sm-6'>
              <div class='form-group'>
                <label>Campaign Type :</label>
                <select  id="campaignType" name="campaignType" class="form-control selectpicker" required="required">  
                 <option value="Service">Service</option>                                 
                  <option value="Insurance">Insurance</option>
                  <option value="PSF3">PSF3 </option>
                   <option value="PSF15">PSF15</option>
                   
                </select>
              </div>                             
                <div class='text-right'>
                  <input type='submit' class='btn btn-primary' value='Submit'/>
                </div>
              </div>
            </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
  
 }   
  
}