@(dealerName:String,userName:String,form: play.data.Form[Customer])
@main("AutoSherpaCRM",userName,dealerName) {
@helper.form(action = routes.CustomerScheduledController.addcustomerInfo) {

<div class="fluid-container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Customer form </h3>
        </div>
        <div class="panel-body">
          <div class="row">
          <form >
            <div class="col-lg-12">
              <div class="col-lg-3">
                <div class="form-group"> @helper.inputText(form("customerId"), 'class->"form-control", 'placeholder->"Enter Customer Id...", '_label->"Customer Id:") </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group"> @helper.inputText(form("customerName"), 'class->"form-control", 'placeholder->"Enter Customer Name...", '_label->"Customer Name :") </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group"> @helper.inputText(form("customerMobileNo"), 'class->"form-control", 'placeholder->"Enter Customer Mobile No...", '_label->"Customer MobileNo :") </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group"> @helper.inputText(form("customerAddress"), 'class->"form-control", 'placeholder->"Enter Customer Address...", '_label->"Customer Address:") </div>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="col-lg-3">
                  <div class="form-group"> @helper.inputText(form("customerEmail"), 'class->"form-control", 'placeholder->"Enter customer Email...", '_label->"customer Email :") </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group"> @helper.inputText(form("dao"), 'class->"form-control", 'placeholder->"Enter DAO...", '_label->"DAO :") </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group"> @helper.inputText(form("dob"), 'class->"form-control", 'placeholder->"Enter DOB...", '_label->"DOB :") </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class='text-right'>
          <input type="submit" onclick="myFunction()" class="btn btn-primary" value="SUBMIT" />
        </div>
      </div>
    </div>
  </div>
</div>
</div>      
   }

}