
@(workshopList:List[Workshop],servicetypeList:List[ServiceTypes],customerData:Customer,vehicleData:Vehicle,locationList:List[Location],interOfCall:CallInteraction,userData:WyzUser)
 <div class="col-md-12" id="InBoundDiv" style="display:none;">
			<div class="row animated  bounceInRight" id="LeadSourceHideIn">
			<div class="col-md-3">
			  <div class="form-group">
				<label for=""><b>Lead Source</b></label>
				<select class="form-control" name="inBoundLeadSource" id="inBoundLeadSourceSelectVal" >
					<option value=0>Select</option>
				  <option value="Phone">Phone</option>
				  <option value="Walk In">Walk In</option>
				  <option value="Website">Website</option>
				  <option value="E-mail">E-mail</option>
				  <option value="Reference">Reference</option>
				  <option value="Inbound Call">Inbound Call</option>
				  <option value="Body Shop">Body Shop</option>
				  <option value="Others">Others</option>
				</select>
			  </div>
			</div>
			
			<div class="col-md-3">
			  <div class="form-group">
				<label for=""><b>Service Required</b></label>
				<select class="form-control" name="serviceTypeAltId" id="serviceTypeAltIdDataVal" >
					<option value=0>Select</option>
						@for(serlist <- servicetypeList){
					
					@{if(serlist.serviceTypeName ==(if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getServiceBookedType()}))
					{
									
									<option value={serlist.serviceTypeName} selected="selected">{serlist.serviceTypeName}</option>
									}else {
										<option value={serlist.serviceTypeName} >{serlist.serviceTypeName}</option>
										}
									}
                              
									}
				</select>
			  </div>
			</div>
				
			
			
		</div>
		<div class="col-md-3 animated  bounceInRight BookMyServiceIn" id="BookMyServiceIn">
			  <div class="form-group">
				
			<div class="checkbox-inline" style="display:none" id="booksMyServiceDisplayBlock">
			<label>
			  <input type="checkbox" name="contactType" class="InCallServiceBook" value="Book My Service" id="InCallServiceBook">
			  Book My Service </label>
		  </div>
	
			  </div>
		</div>
	<div style="display:none;" class="animated  bounceInRight" id="InCallserviceBookDiv">
		  <div class="col-md-12">
			  <div class="row">
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Select Vehicle</label>
					<select class="form-control" id="vehicleIn" name="vehicleIn">
					  @for(post <- customerData.getVehicles()){
                              
                              <option value="@post.vehicle_id">@post.vehicleRegNo</option>
                              
					}
					  
							
						
					</select>
				  </div>
				  </div>
				  <div class="col-md-3">
				  <div class="form-group">
					<label for="">Select City</label>
					<select class="form-control" id="cityIn" name="cityIn" onchange="ajaxCallToLoadWorkShopByCityIn();">
					 
					  <option value="@{userData.getLocation().getName()}">@{userData.getLocation().getName()}</option>
					  
					</select>
				  </div>
				</div>
						
				<div class="col-md-3">
				  <label for="">Workshop</label>
				 <select class="form-control" id="workshopIn" name="workshopIn" onchange="ajaxAutoSASelectionList('workshopIn','date123456','serviceAdvisorIdIn');  advisorBasedOnWorkshopSelectionIn(); driverbasedOnWorkshopSelectionIn();">
						<option value=0>--Select--</option>
						@for(worklist <- workshopList){
					
					@{if(worklist.workshopName ==(if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getWorkshop().getWorkshopName()})){
									
									<option value={worklist.id.toString()} selected="selected">{worklist.workshopName}</option>
									}else {
										<option value={worklist.id.toString()} >{worklist.workshopName}</option>
										}
									}
                              
                             
                              
									}
				 </select>
				</div>
				 <div class="col-md-3">
				  <div class="form-group">
					<label class="control-label" for="inputGroup">Select Date</label>
					<div class="input-group">
					  <input type="text" name="serviceScheduledDateIn" class="form-control" id="date123456" onchange="ajaxAutoSASelectionList('workshopIn','date123456','serviceAdvisorIdIn');" value="@{if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getServiceScheduledDateStrSqlFor()}}"readonly/>
					  <span class="input-group-addon" data-toggle="modal" data-target="#sa_modal" onclick="ajaxCallToLoadWorkshopSummaryIn();"> <i style="font-size:19px; color:Red;" class="fa">&#xf274;</i> </span> </div>
				  </div>
				</div>
				</div>
			 </div>
				
		   <div class="col-md-12">
			  <div class="row">
			 
				<div class="col-md-3">
				<div class="form-group">
				  <label for="serviceScheduledTimeIn">Select Time:</label>
				  <input type="text" name="serviceScheduledTimeIn" class="single-input form-control timePickers" id="CommittedTimesIn" value="@{if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getServiceScheduledTimeStrSqlFor()}}"  readonly>
				 
				</div>
		 </div>
		  <div class="col-md-3">
				  <div class="form-group">
				  <label>&nbsp;</label><br/>
					<button type="button" class="btn btn-primary btn-block" onClick="return ajaxAutoSASelection('workshopIn','date123456','serviceAdvisorIdIn')">Recommend SA</button>
					  
				  </div>
				</div>
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Assigned To(SA):</label>
					<select class="form-control" id="serviceAdvisorIdIn" name="serviceAdvisorIdIn" onChange="ajaxAutoSAManualchange('workshopIn','date123456','serviceAdvisorIdIn');">
					  @{if(interOfCall.getServiceBooked()!=null){
					
					<option value={interOfCall.getServiceBooked().getServiceAdvisor().getAdvisorId().toString()} selected="selected">{interOfCall.getServiceBooked().getServiceAdvisor().getAdvisorName()}</option>
					
					}}
					  </select>
				  </div>
				</div>
			  </div>
			
			
			<div class="pull-right">
				<button type="button" class="btn btn-primary" id="BackToCustomerMainInBound">Back</button>
				<button type="button" class="btn btn-primary" id="nextToCustomerDriveIn">Next</button>
				
			</div>
			</div>
			</div>
			<div style="display:none;" class="animated  bounceInRight" id="CustomerDriveInDivIn">
			<div class="col-md-12">
			<label>Choose one of the below option:</label>
		<div class="radio">
		  <label>
			<input type="radio" name="typeOfPickupIn" value="Customer Drive-In" id="CustomerDriveInIDIn" >
			Customer Drive-In </label>
		</div>
		<div class="radio">
		  <label>
			<input type="radio" name="typeOfPickupIn" value="true" id="PickupDropRequiredIn" >
			Pickup Drop Required</label>
		</div>
		
	  <div class="radio">
		  <label>
			<input type="radio" name="typeOfPickupIn" value="Maruthi Mobile Support" id="MaruthiMobileSupportIn" >
			Mobile Service Support</label>
		</div>
		<div class="animated  bounceInRight" id="MSSSelectDivIn" style="display:none;">
				
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Select Address</label>
					<select class="form-control" id="AddrMMSPOPUP" name="AddressMSS">
					  @for(addre_list <- customerData.getAddresses()){
                          <option value="@addre_list.getAddressLine1(),@addre_list.getAddressLine2(),@addre_list.getAddressLine3(),@addre_list.getCity(),@addre_list.getPincode()">@addre_list.getAddressLine1(),@addre_list.getAddressLine2(),@addre_list.getAddressLine3(),@addre_list.getCity(),@addre_list.getPincode()</option>
                         
						  }
					  
					
					</select>
				  </div>
				  </div>
				   <div class="col-md-3 animated  bounceInRight">
				   <div class="form-group">
				   <br>
				   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddNewAddressPopup" style="margin-top: 4px;">Add New Address</button>
					 
					
						</div>				   
			
			  </div>
			
				  
				  </div>
	<div style="display:none;" id="pickupDivIn">
		  <div class="animated  bounceInRight">
			<div class="col-md-3">
			  <div class="form-group">
				<label for="pickUpAddress"><b>Pickup Address</b></label>
				<select class="form-control" name="pickUpAddressIn" id="pickUpAddressIn" >
				  @for(addre_list <- customerData.getAddresses()){
                          <option value="@addre_list.getAddressLine1(),@addre_list.getAddressLine2(),@addre_list.getAddressLine3(),@addre_list.getCity(),@addre_list.getPincode()">@addre_list.getAddressLine1(),@addre_list.getAddressLine2(),@addre_list.getAddressLine3(),@addre_list.getCity(),@addre_list.getPincode()</option>
                         
						  }
				 
				</select>
			  </div>
			</div>
			<div class="col-md-3">
			
				<div class="form-group"><br />
				   <button type="button" class="btn btn-success" data-toggle="modal" data-target="AddNewAddressPopup">Add New Address</button>
				
				</div>
			  
			</div>
		
			
			   
		  </div>
		  
		 
			
		 
	  </div>
	  <div class="pull-right">
	  <button type="button" class="btn btn-primary" id="BackToCunstomerDriveIn">Back</button>
	   <button type="button" class="btn btn-primary" id="NextToLeadInbound">Next</button>
	  </div>
	</div>
		  </div>
		  <!--end-->
		
		 
		
	  </div>			   
<!------------inBound Upsel Opportunity------------------>
		 <div class="col-md-12 animated  bounceInRight" style="display:none;" id="finalDiv1Inbound">
			<label>Capture Lead : Is there an Upsell Opportunity.</label>
		   <br>
		   
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYesIn" onclick="loadLeadBasedOnLocation();" value="Capture Lead YesIn" id="LeadYesIDIn" >
				Yes</label>
			</div>
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYesIn" value="Capture Lead NoIn" id="LeadNoIDIn" >
				No</label>
			</div>
			<div class="row animated  bounceInRight" style="display:none;" id="LeadDivIn">
			  <div class="col-md-6">
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClassIn myCheckbox" name="upsellLead[14].upSellType" value="Insurance" name="LeadClassIn" value="InsuranceIn" id="InsuranceIDCheckIn">
					Insurance</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="InsuranceSelectIn">
				  <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[14].taggedTo" id="insuranceLead2">
								<option >Select</option>
						</select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <input class="form-control" rows="1" id="comments8" name="upsellLead[14].upsellComments">
					</div>
				   </div>
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClassIn myCheckbox" name="upsellLead[15].upSellType" value="Warranty / EW" id="WARRANTYIDIn" >
					Warranty / EW</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="WARRANTYSelectIn">
					<div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					 <select class="form-control" name="upsellLead[15].taggedTo" id="warrantyLead2">
								<option >Select</option>
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments9" name="upsellLead[15].upsellComments"></textarea>
					</div>
				   </div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="VASIn myCheckbox" name="upsellLead[16].upSellType" value="VAS" id="VASIDIn" />
					VAS</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="VASTagToSelectIn">
				   <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					 <select class="form-control" name="upsellLead[16].taggedTo" id="vASLead2">
								<option >Select</option>
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments10" name="upsellLead[16].upsellComments"></textarea>
					</div>
				   </div>
				  
				</div>
				<div class="checkbox">
				  <label>
			   <input type="checkbox" class="LeadClassIn myCheckbox" name="upsellLead[17].upSellType" value="Re-Finance / New Car Finance" id="ReFinanceIDCheckIn" />
					Re-Finance / New Car Finance</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="ReFinanceSelectIn">
				  <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					 <select class="form-control" name="upsellLead[17].taggedTo" id="reFinanceLead2">
								<option >Select</option>	
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments11" name="upsellLead[17].upsellComments"></textarea>
					</div>
				   </div>
				</div>
				</div>
				 <div class="col-md-6">
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LoanIn myCheckbox" name="upsellLead[18].upSellType" value="Sell Old Car" id="LoanIDIn" />
					Sell Old Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="LoanSelectIn">
				   <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					 <select class="form-control" name="upsellLead[18].taggedTo" id="sellOldCarLead2">
								<option >Select</option>
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments12" name="upsellLead[18].upsellComments"></textarea>
					</div>
				   </div>
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="EXCHANGEIn myCheckbox" name="upsellLead[19].upSellType" value="Buy New Car / Exchange" id="EXCHANGEIDIn" />
					Buy New Car / Exchange</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="EXCHANGEIDSelectIn">
				   <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[19].taggedTo" id="buyNewCarLead2">
								<option >Select</option>
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments13" name="upsellLead[19].upsellComments"></textarea>
					</div>
				   </div>
				</div>
				  <div class="checkbox">
				  <label>
					<input type="checkbox" class="UsedCarIn myCheckbox" name="upsellLead[20].upSellType" value="UsedCar" id="UsedCarIDIn" />
					Used Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="UsedCarSelectIn">
				   <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					 <select class="form-control" name="upsellLead[20].taggedTo" id="usedCarLead2">
								<option >Select</option>
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments14" name="upsellLead[20].upsellComments"></textarea>
					</div>
				   </div>
			</div>
		   
			  </div>
			</div>
			  <div class="pull-right" >
			<button type="button" class="btn btn-primary" id="BackToLeadIn">Back</button>
			  <button type="button" class="btn btn-primary" value="" id="NextToCustFeedBackIn"/>Next</button>
			</div>
			</div>
			
			
			<!--Complaints Inbound -->
			
			<div class="col-md-12 animated  bounceInRight" id="CustFeedBackIn" style="display:none;">
				 
				  <div class="col-md-12">
					<label>Does Customer has a feedback / compliant ?</label>
					<br>
					<div class="radio-inline">
					  <label for="feedbackYesIn">
						<input type="radio" name="userfeedbackIn" onclick="loadLeadBasedOnLocationDepartment();" value="feedback YesIn" id="feedbackYesIn" >
						Yes</label>
					</div>
					<div class="radio-inline">
					  <label for="feedbackNoIn">
						<input type="radio" name="userfeedbackIn" value="feedback NoIn" id="feedbackNoIn" >
						No</label> 
					</div>
				  </div>
			   
				<div class="row animated  bounceInRight" style="display:none;" id="feedbackDIVIn"><br>
				 <div class="col-md-12">
				  <div class="col-md-3">
					<label for="">Select Department<i class="lblStar">*</i></label>
					<select class="form-control selected_department" name="departmentForFB2" id="selected_department2" onchange="ajaxLeadTagByDepartmentInbound();">
						 <option value="0">select</option>
						 
							</select>
				  </div>
				  <div class="col-md-3">
					<label for="">Tag to</label>
					<select class="form-control" id="LeadTagsByLocation2" name="complaintOrFB_TagTo2">
					@{if(interOfCall.getSrdisposition()!=null){
					
					<option value={interOfCall.getSrdisposition().getComplaintOrFB_TagTo()} selected="selected">{interOfCall.getSrdisposition().getComplaintOrFB_TagTo()}</option>
					
					}}		  
					</select>
				  </div>
				
				  <div class="col-md-3">
					<label for="comments">Feedback/Comment</label>
					<textarea class="form-control" rows="1" id="commentsDSA" name="remarksOfFB2"></textarea>
				  </div>
				  <br>
				</div>
				  </div>
		<div class="pull-right" >
			<button type="button" class="btn btn-primary" id="BackToUpsellIn">Back</button>
			  <button type="button" class="btn btn-primary" value="" id="NextToInBoundLastQuest"/>Next</button>
			</div>
		 
		  </div>
		  <div class="row animated  bounceInRight" id="LastQuestionInbound" style="display:none;">
						  <div class="col-md-12">
						  <div class="col-md-12">
							<label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
							<br>
							<div class="radio-inline">
							  <label for="">
								<input type="radio" name="radio7" value="" id=""  data-toggle="modal" data-target="#addBtn" >
								Yes</label>
							</div>
							<div class="radio-inline">
							  <label for="feedbackNo">
								<input type="radio" name="radio7" value="" id="" >
								No</label> 
							</div>
						  </div>
						
						  <div class="pull-right" >
					<button type="button" class="btn btn-primary " id="BackToToInboindComplaint">Back</button>
					<button type="submit" class="btn btn-primary" value="inBoundCallSubmit" id="ToInboindComplaintSubmit" name="typeOfsubmit"/>Submit</button>
					</div>
						  </div>
		    </div>
		  
				  
		  
		  
		 <!--EndLead-->
		 <!--EndLead-->