@(dealerName:String,userName:String,users:List[models.WyzUser],userform:Form[WyzUser])
@import models._
@import helper._
@import scala._
@main("AutoSherpaCRM",userName,dealerName) {
@helper.form(action = routes.WyzUserController.userInformation) {

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">List of Users Information</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading"> List of Users </div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th colspan="2">Actions</th>               
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Dealer Name</th>
                <th>Dealer Id</th>
                <th>Phone Number</th>               
                <th>Email Id</th>
              </tr>
            </thead>
            <tbody>
            
            @for(post <- users) {
            <tr>
              <td><a href="/superAdmin/user/delete/@post.id"><i class="fa fa-trash-o"></i></a></td>
              <td><a href="/superAdmin/user/edit/@post.id"><i class="fa fa-pencil-square-o"></i></a></td>              
              <td>@post.userName</td>
              <td>@post.firstName</td>
              <td>@post.lastName</td>
              <td>@post.role</td>
              <td>@post.dealerName</td>
              <td>@post.dealerId</td>
              <td>@post.phoneNumber</td>              
              <td>@post.emailId</td>
            </tr>
            }
              </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
        }

}