
@(dealercode:String,dealerName:String,userName:String,cresList:List[String],locationList:List[Location],
workshopList:List[Workshop])

@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {

<style>
 .accordion-toggle:after {
  
	font-family:'FontAwesome';
	content:"\f077";
	float: right;
	color: inherit;
}
.panel-heading.collapsed .accordion-toggle:after {
 
	content:"\f078";
}
.panel-primary>.panel-heading {
	color: #fff;
	background-color: #0288D1;
	border-color: #0288D1;
}
.btn-info {
	background-color: #03A9F4;
	border-color: #5B987C!important;
	}
	
.panel-group .panel-collapse {
    margin-top: 0px !important;
}
.panel-group .panel-heading {
    padding: 5px;
}
</style>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">COMPLAINT HISTORY</div>
			<div class="panel-body">
			<div class="col-md-4">
				<select class="form-control" id="complainHistoryID">
					<option value="0">--Select--</option>
					<option value="New">NEW COMPLAINT</option>
					<option value="Assigned">ASSIGNED COMPLAINT</option>
					<option value="Closed">CLOSED COMPLAINT</option>
				</select>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="row" id="openComplaintID">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading nameappend" style="text-align:center;">  
          <b>COMPLAINTS</b>
   </div>
		<div class="panel-body">
	 <div class="table-responsive">	
	 <div class="dataTable_wrapper">
<table  class="table table-striped table-bordered nowrap example321 table-hover" cellspacing="0" id="ComplaintID">
        <thead>
            <tr>

            <th>COMPLAINT No</th>
            <th>ISSUE DATE</th>             
               <th>AGING (Days)</th>
                 <th>REGISTERED BY</th>
                  <th>SOURCE</th>
                 <th>FUNCTION</th>               
                     <th>VEHICLE No</th>
                      <th>VIEW</th>  
            </tr>
        </thead>
       
         <tbody>
               
             </tbody>
            </table>
                </div>
                </div>
    </div>
  </div>
</div>
</div>
  <!-- Open Complain Popup -->
  <div class="modal fade" id="OpenComplaintPopup" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          
          
<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;"><b>OPEN COMPLAINT RESOLUTION FORM<b></div>
        <div id="" class="panel">
		
            <div class="panel-body">
            <h4 style="color: #E80B0B;"><b>CUSTOMER DETAILS :<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> VEHICLE NUMBER*:</strong></td>
                      <td id="veh_num_pop" class="text-primary"></td>
                    </tr>
                   
                    <tr>
                      <td><strong>CUSTOMER NAME:</strong></td>
                      <td id="cust_name_pop" class="text-primary"></td>
                    </tr>
                 
                     <tr>
                       <td><strong>MOBILE No: </strong></td>
                      <td id="cust_phone_pop" class="text-primary"></td>
                    </tr>
					 
					  <tr>
                      <td><strong>EMAIL: </strong></td>
                      <td id="cust_email" class="text-primary"></td>
                    </tr> 
				
					  <tr>
                      <td><strong>ADDRESS: </strong></td>
                      <td id="addressName" class="text-primary"></td>
                    </tr>
					
						  <tr>
                      <td><strong>CHASSIS No: </strong></td>
                      <td id="chassisno" class="text-primary"></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>MODEL:</strong></td>
                      <td id="model" class="text-primary"></td>
                    </tr>
					   <tr>
                      <td><strong>VARIANT: </strong></td>
                      <td id="variant" class="text-primary"></td>
                    </tr>
					 <tr>
                      <td><strong>SALE DATE: </strong></td>
                      <td id="saledate" class="text-primary"></td>
                    </tr>
						<tr>
                      <td><strong>LAST SERVICE: </strong></td>
                      <td id="lastserv" class="text-primary"></td>
                    </tr>
						  <tr>
                      <td><strong>SERVICE ADVISOR : </strong></td>
                      <td id="serviceadvisor" class="text-primary"></td>
                    </tr>
						  <tr>
                      <td><strong>WORKSHOP: </strong></td>
                      <td id="workshop" class="text-primary"></td>
                    </tr>
					
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
                <h4 style="color: #E80B0B;"><b>COMPLAINT INFORMATION:<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                 <tbody>
 <tr>
                      <td><strong> COMPLAINT NUMBER</strong></td>
                      <td id="compnum" class="text-primary"> </td>
                    </tr>
                     <tr>
                      <td><strong> COMPLAINT STATUS</strong></td>
                      <td id="compstatus" class="text-primary"> </td>
                    </tr>
                    <tr>
                      <td><strong> FUNCTION:</strong></td>
                      <td id="function" class="text-primary"> </td>
                    </tr>
                   
                    <tr>
                      <td><strong>CATEGORY:</strong></td>
                      <td id="complaintType" class="text-primary"></td>
                    </tr>
            <tr>
                      <td rowspan="2"><strong>DESCRIPTION:</strong></td>
                      <td  id="description" class="text-primary"></td>
                    </tr>
                 
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
   
                  <tr>
                      <td><strong>SOURCE:</strong></td>
                      <td id="source"class="text-primary">  </td>
                    </tr>
                    <tr>
                      <td><strong>SUB CATEGORY 1: </strong></td>
                      <td id="subcomplaintType"class="text-primary"></td>
                    </tr>


                    
                  </tbody>

                </table>
                </div>
                           
              </div>
						<div class="row">
<div class="col-lg-12">
	<div class="panel panel-primary">
  <div class="panel-heading" align="center"  onclick="trys();" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne4" style="cursor:pointer;">
		<h4 class="panel-title accordion-toggle"></h4>
		<img src="@routes.Assets.at("images/INTERACTION HISTORY.png")" style="width:17px;"/>&nbsp;<b>COMPLAINTS  HISTORY</b>
		 </div>
		 <div id="collapseOne4"  class="panel-collapse collapse"
		<div class="panel-body">
		<div class="row">
                    <table class="table table-border table-responsive" id="ComplaintHistory" style="display:none">
		
		
				</table>
		
                        </div>
		</div>
		</div>
		</div>
		</div>
		</br>
						
						
                        <div class="row">
                            <div class="col-lg-12" style="">

<input type="button" class="btn btn-info pull-right Resolve_It" id="Resolve_It" value="Resolve It">
<input type="button" class="btn btn-info" id="Reassign_It" value="Assign It">
 
                             
                </div>
                </div>
              
           <div class="row" style="display:none" id="Resolve_compID">
              
                                <h4 class="modal-title" style="text-align:center; color:red;"><b> COMPLAINT RESOLUTION</b></h4>  
              	 <div class="col-lg-3">
               <div class="form-group">
                <label for="reasonfor">REASON FOR </label>
                <input type="text" id="reasonfor"class="form-control" name="reasonfor"  autocomplete="off" />
              </div>
            </div>
           <div class="col-lg-3">
               <div class="form-group">
                <label for="complaintStatus">COMPLAINT STATUS</label>
                
                <select id="complaintStatus" class="form-control" name="complaintStatus">
                    
                    <option value="Closed">Closed</option>
                     <option value="Open">Open</option>
                    
                </select>
              </div>
            </div>
             <div class="col-lg-3">
               <div class="form-group">
                <label for="customerStatus">CUSTOMER STATUS</label>
                
                 <select id="customerStatus" class="form-control" name="customerStatus">
                    
                    <option value="Satisfied">Satisfied</option>
                     <option value="Dissatisfied">Dissatisfied</option>
                    
                </select>
              </div>
            </div>
            
             <div class="col-lg-3">
               <div class="form-group">
                <label for="actionTaken">ACTION TAKEN </label>
                <input type="text" id="actionTaken"class="form-control" name="actionTaken"   autocomplete="off" />
              </div>
            </div>
            
             <div class="col-lg-3">
               <div class="form-group">
                <label for="resolutionBy">RESOLUTION By: </label>
                <input type="text" id="resolutionBy"class="form-control" name="resolutionBy" value="@userName" autocomplete="off" />
              </div>
            </div>
                  <div class="text-right">
  <button type="button" id="resolve_savebymanager" class="btn btn-success resolve_savebymanager" data-dismiss="modal">Update</button>

          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
           
              </div>
                
           		<div class="row" style="display:none;" id="reassign_compID">
                                <h4 class="modal-title" style="text-align:center; color:red;"><b>ASSIGNMENT COMPLAINT</b></h4>  

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">CITY </label>
                            <select id="city" class="form-control" onclick="ajaxCallToLoadWorkShopByCity();">
                                <option value="0" >--Select--</option>
                                @for(location_list<-locationList){
                                
                              
                                <option value="@location_list.getName()">@location_list.getName()</option>
                              
                             }
                              </select>
                        </div>
                    </div>
                <div class="col-lg-3">
                        <div class="form-group">
                            <label for="workshop">LOCATION </label>
                            <select id="workshopSelected" class="form-control">
                                <option value="select" >Select</option>
                                @for(workshoplist<-workshopList){
                                <option value="@workshoplist.getWorkshopName()">@workshoplist.getWorkshopName()</option>
                             }
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">FUNCTION </label>
                            <select id="FUNCTION" class="form-control">
                                <option value="0">--Select--</option>
                                <option value="SALES">SALES</option>   
                                <option value="AFTERSALES">AFTERSALES</option>
                                <option value="INSURANCE">INSURANCE</option>
                                <option value="FINANCE">FINANCE</option>
                                <option value="PARTS">PARTS</option>
                                <option value="PRODUCT">PRODUCT</option>
                                <option value="USED CAR SALES">USED CAR SALES</option>                            
                              </select>
                        </div>
                    </div>
					

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">OWNERSHIP </label>
                            
                            <select id="OWNERSHIP" class="form-control">
                                
                                <option value="0">--Select--</option>
                                @for(post1 <- cresList){
                                <option value="@post1">@post1</option>
                              
                              }
                              </select>
                             
                              
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">PRIORITY </label>
                          
                            <select id="PRIORITY" class="form-control">
                                <option value="0">--Select--</option>
                                <option value="2">High</option>
                                <option value="3" selected="selected">Medium</option>
                                <option value="4">Low</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">ESCALATION 1 </label>
                            <input type="text" class="form-control" name="ESCALATION1"  id="ESCALATION1" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">ESCALATION 2 </label>
                            <input type="text" class="form-control" name="ESCALATION2"  id="ESCALATION2" autocomplete="off" />
                        </div>
                    </div>
                    
                        <div class="text-right">
                    <button class="btn btn-success AddComplaintResolution" type="button" >Submit</button>
                    <button type="button" class="btn btn-danger"  data-dismiss="modal">Close</button>
                </div>
                </div>
		
            </div>
        </div>
    </div>
    


       
    </div>
        </div>
        
      </div>
      
    </div>
  </div>

 <script>


function  getcomplaintnum(complaintNum,veh_num){
	//alert();
		
		 $.blockUI();
        var urlDisposition = "/CRE/searchcomplaintNum/" + complaintNum + "/" + veh_num +"";
		
        $.ajax({
               url: urlDisposition

    }).done(function (data) {
        if (data != null) {
        console.log(data);
      console.log(complaintNum);
           
      $.unblockUI();   
        $("#veh_num_pop").html(data.vehicleRegNo);           
           $("#cust_phone_pop").html(data.customerMobileNo);      
           $("#cust_name_pop").html(data.customerName);
           $("#cust_email").html(data.customerEmail);      
            $("#serviceadvisor").html(data.serviceadvisor);
            $("#addressName").html(data.preferredAdress);
           $("#chassisno").html(data.chassisNo);
          $("#saledate").html(data.saleDate);
           $("#variant").html(data.variant);
           $("#model").html(data.model);
             $("#function").html(data.functionName);
           $("#compnum").html(data.complaintNumber);
           $("#compstatus").html(data.complaintStatus);
         $("#serviceadvisor").html(data.serviceadvisor);
          $("#source").html(data.sourceName);
        $("#description").html(data.description);
         $("#subcomplaintType").html(data.subcomplaintType);
          $("#complaintType").html(data.complaintType);
           $("#function").html(data.functionName);
            $("#assignOwnership").html(data.assignedUser);
             $("#prorityName").html(data.priority);
              $("#cityName").html(data.location);
              $("#lastserv").html(data.lastServiceDate);
              $("#workshop").html(data.workshop);
             
             // alert(data.chassisNo);

 }
          
});
          $('#OpenComplaintPopup').modal({
        show: 'true'
    }); 
}
 function trys() {
	 $.blockUI();
$("#ComplaintHistory").toggle();
     var complaintNumber = $('#compnum').text();
     var vehregnumber = $('#veh_num_pop').text();
            var urlDisposition="/CREManager/getComplaintHistoryAll/"+complaintNumber+"/"+vehregnumber+"";
	$.ajax({
		url:urlDisposition 
	}).done(function(data){
            //console.log("test");
            //console.log(data);
	$.unblockUI();
           var tableHeaderRowCount = 1;
            var table = document.getElementById('ComplaintHistory');
                          	$("#ComplaintHistory").find("tr").remove();
                        $('#ComplaintHistory tbody tr').empty();

           th = $('<tr>');
                th.append('<th>COMPLAINT No</th>');
                th.append('<th>COMPLAINT STATUS</th>');
                th.append('<th>ISSUE DATE</th>');                
                th.append('<th>AGING (Days)</th>');
                th.append('<th>REGISTERED BY</th>');
                th.append('<th>SOURCE</th>');
                th.append('<th>FUNCTION</th>');
                th.append('<th>VEHICLE No</th>');
               // th.append('<th>RESOLVED BY</th>');
                $('#ComplaintHistory').append(th);
  
            for (i = 0; i < data.length; i++) {


           var     complaintNum =      data[i].complaintNumber;
               var     complaintStatus =      data[i].complaintStatus;
              var     issueDate =       data[i].issueDate;
             var     ageOfComplaint =        data[i].ageOfComplaint;
             var     wyzUser =       data[i].wyzUser;
               var     sourceName =      data[i].sourceName;
             var     functionName =        data[i].functionName;
           var vehregno = data[i].vehicleRegNo;
			var resolBy=data[i].resolutionBy;
            
                tr = $('<tr/>');
                    tr.append('<td id="complaintNum">'+complaintNum+'</td>');
                      tr.append('<td id="compstatus">'+complaintStatus+'</td>');
                 tr.append('<td id="issueDateS">'+issueDate+'</td>');
                  tr.append('<td id="ageOfComplaint">'+ageOfComplaint+'</td>');
                   tr.append('<td id="wyzUser">'+wyzUser+'</td>');
                   tr.append('<td id="sourceName">'+sourceName+'</td>'); 
                   tr.append('<td id="functionName">'+functionName+'</td>');
                   tr.append('<td id="vehregno">'+vehregno+'</td>');
                  // tr.append('<td id="resolBy">'+resolBy+'</td>');
                
                $('#ComplaintHistory').append(tr); 
            }
            
    });
            
    }

 $('#complainHistoryID').on('change', function() {
	 $.blockUI();
     var filterData = $(this).val();
    //alert(filterData);
    var complainHistoryID = $("#complainHistoryID").text();
            var urlDisposition="/CREManager/getComplaintsDataByFilter/"+filterData;
	$.ajax({
		url:urlDisposition 
	}).done(function(data){
	$.unblockUI();
	
		        $("#ComplaintHistory").find("tr").remove();
                $('#ComplaintHistory tbody tr').empty();              
                

           var tableHeaderRowCount = 1;
            var table = document.getElementById('ComplaintID');
            var rowCount = table.rows.length;
			for (var i = tableHeaderRowCount; i < rowCount; i++) {
			table.deleteRow(tableHeaderRowCount);
			}
  
            for (i = 0; i < data.length; i++) {

           var     complaintNum =      data[i].complaintNumber;
               var     complaintStatus =      data[i].complaintStatus;
              var     issueDate =       data[i].issueDate;
              var     wyzUser =       data[i].wyzUser;
             var     ageOfComplaint =        data[i].ageOfComplaint;
               var     sourceName =      data[i].sourceName;
             var     functionName =        data[i].functionName;
            var     complaintType =         data[i].subcomplaintType;
           var     subcomplaintType =          data[i].subcomplaintType;
           var vehregno = data[i].vehicleRegNo;

            
                tr = $('<tr/>');
                    tr.append('<td id="compNum">'+complaintNum+'</td>');
                 tr.append('<td id="issueDate">'+issueDate+'</td>');
                  tr.append('<td id="x">'+ageOfComplaint+'</td>');
                   tr.append('<td id="userName">'+wyzUser+'</td>');
                   tr.append('<td>'+sourceName+'</td>'); 
                   tr.append('<td id="y">'+functionName+'</td>');
               /// tr.append('<td id="z">'+complaintType+'</td>');
                   tr.append('<td id="vREgNO">'+vehregno+'</td>');
                 //tr.append('<td><a href=""   class="getModel getModal viewComplaints viewComplaintsresolve" data-id="'+complaintNum+'"   value="'+complaintNum+'" onclick="myfunction('+ complaintNum + ', ' + vehregno +  ');"  data-toggle="modal"  data-target="#OpenComplaintPopup">View</a></td>'); 
                 tr.append('<td><a href ="javascript:getcomplaintnum(\''+complaintNum+'\',\''+vehregno+'\');" class="getModel getModal viewComplaints viewComplaintsresolve"   >View</a></td>'); 
               // tr.append('<td ><a id="getmod" class="getm" href=""   data-id="'+complaintNum+'" data-toggle="modal"  data-target="#OpenComplaintPopup">View</a></td>');
                
                $('#ComplaintID').append(tr); 
                
               // $("#").val(complaintNum);

			   
			   
			   
			    
   }




    $('#Reassign_It').click(function(){
            $("#reassign_compID").show();
            $("#Resolve_compID").hide();
    });
    $('#Resolve_It').click(function(){ 
          $("#Resolve_compID").show();
            $("#reassign_compID").hide();
    });
    
	});
    });
	
</script>
}


