@(dealercode:String,dealerName:String,userName:String,oem:String,locationList:List[Location],workshopList:List[Workshop],roleList:List[Role],creManagerList:List[WyzUser],usersList:List[WyzUser])
@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {

<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">   
        Add User </div>
		<div class="panel-body" >
		@helper.form(action = routes.SuperAdminController.postUserBySuperAdmin) {
		<div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">ROLE<i style="color:red">*</i> </label>
                            <select id="role" name="role" class="form-control" required>
                                <option value="" >--Select--</option>
                                @for(role_list<-roleList){
                                
                                <option value="@role_list.getRole()">@role_list.getRole()</option>
                              
                             }
                              </select>
                        </div>
                    </div>
		<div class="col-lg-3" id="a1" style="display:none">
              <div class="form-group">
                <label for="creManager">CRE Manager Name:</label>
                <select id="creManager" name="creManager" class="form-control">
                                <option value="" >--Select--</option>
                                @for(cre_manager<-creManagerList){
                                <option value="@cre_manager.getUserName()">@cre_manager.getUserName()</option>
                             }
                              </select>
          	 </div>
       </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="firstName">First Name<i style="color:red">*</i>:</label>
                <input type="text" class="form-control txtOnly" name="firstName"  id="firstName" autocomplete="off"  required/>
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="lastName">last Name</label>
                <input type="text" class="form-control txtOnly" name="lastName"  id="lastName" autocomplete="off" >
              </div>
            </div>
              <div class="col-lg-3">
              <div class="form-group">
                <label for="userName">User Name<i style="color:red">*</i></label>
                <input type="text" class="form-control" name="userName"  id="userName" autocomplete="off"  onchange="ajaxCallToCheckUser();" required/>
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="phonenum">Phone Number<i style="color:red">*</i></label>
                <input type="text" class="form-control numericOnly" name="phoneNumber" maxlength="10" minlength="10" id="phonenum" autocomplete="off"  required/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="phoneIMEINo">Phone IMEI Number<i style="color:red">*</i></label>
                <input type="text" class="form-control numericOnly" name="phoneIMEINo" maxlength="15" minlength="15" id="phoneIMEINo" autocomplete="off"  required/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="emailId">Email ID</label>
                <input type="email" class="form-control" name="emailId" id="emailId" autocomplete="off" />
              </div>
            </div>
                  <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">CITY<i style="color:red">*</i> </label>
                            <select id="city" name="name" class="form-control " onclick="ajaxCallToLoadWorkShopByCity();" required>
                                <option value="" >--Select--</option>
                                @for(location_list<-locationList){
                                <option value="@location_list.getName()">@location_list.getName()</option>
                             }
                              </select>
                        </div>
                    </div>
                <div class="col-lg-3">
                        <div class="form-group">
                            <label for="workshop">LOCATION<i style="color:red">*</i> </label>
                            <select id="workshop" name="id" class="form-control" required>
                                <option value="" >--Select--</option>
                               
                              </select>
                        </div>
                    </div>
                      
             <div class="col-lg-3">
              <div class="form-group">
                <label for="pincode">Pincode</label>
                <input type="text" class="form-control numericOnly" name="pinCode" maxlength="6" minlength="6" id="pinCode" autocomplete="off" />
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="pincode">Default Password<i style="color:red">*</i></label>
                <input type="text" class="form-control" name="password"  id="password" autocomplete="off"  required/>
              </div>
            </div>
            </div>
		</div>
		</div>
		</div>
              <center>
            <!--   <div class="col-lg-3">
              <div class="form-group">  -->
                  <input type="submit" style="display:inline-block;" class="btn btn-primary"  id="UserSubmit" value="Submit" />
            <!--   </div>
            </div>   -->
            }
            <button type="button" style="display:inline-block;position:relative;" class="expand"><a href="#viewBtn" onclick="OnSuccess()" data-toggle="modal">VIEW/UPDATE</a></button>
      		</center>
      <div>
       <div class="modal fade" id="viewBtn" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="panel-heading" style="background-color: #FFFF00" ><b>CRE Available</b>
				<button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button><br>
				
          </div>
          <div  style="background-color: #fefefe;padding: 30px;">
           <div class="row">
					<div class="col-sm-12">
				  <div class="form-group">
          <table id="table1" class="table table-striped table-bordered table-hover" style="overflow-x:auto;">
						<thead>
							<tr>
								<th style="border:1px solid black;">WysUser ID</th>
                                <th style="border:1px solid black;">WysUser Name</th>
                                <th style="border:1px solid black;">WysUser Role</th>
                                <th style="border:1px solid black;">WysUser Phone No.</th>
                                <th style="border:1px solid black;">WysUser Phone IMEI No.</th>
                                  <th style="border:1px solid black;">Availability</th>
                                 <th style="border:1px solid black;">UPDATE</th>
                               
                            </tr>
						</thead>
							<tbody id="tablebody" >
							<!-- @for(user_List<-usersList){
							<tr>
                                
                                <td id="j1" value="@user_List.getUserName()" style="border:solid black;">@user_List.getUserName()</td>
                                <td id="k1" value="@user_List.getRole()" style="border:solid black;">@user_List.getRole()</td>
                                <td id="l1" value="@user_List.getPhoneNumber()" style="border:solid black;">@user_List.getPhoneNumber()</td>
                                <td id="m1" value="@user_List.getPhoneIMEINo()" style="border:solid black;">@user_List.getPhoneIMEINo()</td>
                               
                                <td style="border:solid black;"><button type="button"  class="wyzuser_edit" data-toggle="modal" data-target="#updateWyzuser">EDIT</button></td>
							</tr>
							}  -->
							</tbody>
         </table>    
        </div>
         </div>
				</div>
				  </div>
			</div>
          	 </div>				
			
       <div class="modal fade" id="updateWyzusertable" role="dialog">
    <div class="modal-dialog modal-xs">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
        </div>
        <h4 style="display:inline-block">WyzUser Name: </h4>
		<span id="newUserName" style="font-weight:bold;font-size:15px;display:inline-block;"></span><br>
		<div class="modal-body">
		<div class="row">
        <div class="col-xs-12">
        <div class="col-xs-4">
        <label for="phonenum">Phone Number<i style="color:red">*</i></label>
        <input type="text" class="form-control numericOnly" maxlength="10" minlength="10" id="myPhoneNum" required>
      </div>
        </div>
        <div class="col-xs-12">
        <div class="col-xs-4">
        <label for="phonenum">Phone IMEI Number<i style="color:red">*</i></label>
        <input type="text" class="form-control numericOnly" maxlength="15" minlength="15" id="myPhoneIMEINum" required>
      </div>
        </div>
        </div>
		</div>
        <div class="modal-footer">
        <button type="button" id="savePhoneInfo" class="btn btn-success" onclick="ajaxCallForAddUserinfo()" data-dismiss="modal">Save</button>
        </div>
      </div>
      
    </div>
  </div>
       
  </div>  
     
 }
 

 <script>
 $(".numericOnly").keypress(function (e) {
	    if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
	});
 $( ".txtOnly" ).keypress(function(e) {
     var key = e.keyCode;
     if (key >= 48 && key <= 57) {
         e.preventDefault();
     }
 });
 </script>


 <script>
 $(document).on("click", ".wyzuser_edit", function () {
	 $('#updateWyzusertable').modal('show');
     var id= $(this).data('id');
     var user_name= $(this).data('user_name');
     var phn_num1= $(this).data('phn_num');
     var phn_IMEI1= $(this).data('phn_imei');
     if(phn_IMEI1 == "" || phn_IMEI1 == null){
    	 phn_IMEI1 ="empty";
     }
     if(phn_num1 == "" || phn_num1 == null){
    	 phn_num1 ="empty";
     }
        $('#newUserName').val(id);
		$('#newUserName').html(user_name);
		$('#myPhoneNum').attr("placeholder", phn_num1);
		$('#myPhoneIMEINum').attr("placeholder", phn_IMEI1);
	
 });
 </script>
<script>
 function ajaxCallToCheckUser(){
	 var uname = $("#userName").val(); 
	 var urlLink="/checkExistingUser/" + uname + ""; 
	   $.ajax({
	       url: urlLink
	   }).done(function (existcount) {	
		   console.log("existcount : "+existcount);
		  	if(existcount>0){   
		   Lobibox.notify('warning', {
	             msg: "User exists"
	         });
		   $("#userName").val("");
		  	}
	});
 }
 </script>
 <script>
 $(document).ready(function(){
	    $('#role').on('change', function() {
	      if ( this.value !== "CREManager")
	      {
	    	  document.getElementById("a1").style.display = "block";
	      }
	      if ( this.value === "CREManager")
	      {
	    	  document.getElementById("a1").style.display = "none";
	      }
	    });
	});
 </script>
 <script>
 function ajaxCallForAddUserinfo() {
	var id = $("#newUserName").val();
	var phoneNumber = $("#myPhoneNum").val();
	var phoneIMEINo = $("#myPhoneIMEINum").val();
	 if (phoneNumber == "" || phoneIMEINo== "") {
		 
		 Lobibox.notify('warning', {
             msg: "Phone Number & Phone IMEI Number can't be kept empty"
         });
	        return false;
	    };
	var cusInfo = {"id": id, "phoneNumber": phoneNumber, "phoneIMEINo": phoneIMEINo};
    var cust_info = [];
    cust_info.push(cusInfo);
    jsonData = JSON.stringify(cusInfo);
    var urlPath = "/CRE/saveadduserinfo";
    $.ajax({
    	async: false,
        type: 'POST',
        contentType: 'application/json',
        dataType: 'json',
        data: jsonData,
        url: urlPath,
        success: function (json) {
        	clearValue();
        }
    });
 }
    </script>
     
<script>
$(document).on("change", ".onoffswitch", function () {
	var id= $(this).data('id');
	var status= $(this).data('status');
	//var cusInfo = {"wyz_id": id, "wyz_status": status};
    //var cust_info = [];
    //cust_info.push(cusInfo);
   // jsonData = JSON.stringify(cusInfo);
    //console.log(jsonData);
    var urlPath = "/CRE/updateAvailability";
    $.ajax({
        type: 'POST',        
        data: {
        	id:''+id,
        	status:''+status       	
         },
        url: urlPath,
        success: function (json) {
        	OnSuccess();
        }
    });
});
</script>
    <script>
    function clearValue() {
    	var phn = document.getElementById('myPhoneNum');
        var phnIMEI = document.getElementById('myPhoneIMEINum');
        phn.value= phn.defaultValue;
        phnIMEI.value= phnIMEI.defaultValue;
        Lobibox.notify('success', {
            msg: "Uploaded Successfully"
        });
        OnSuccess();
    }
    </script>
    <script>
    function OnSuccess(){
        $("#viewBtn").show();
   		var table= $('#table1').dataTable( {
   	        "bDestroy": true,
   	        "processing": true,
   	        "serverSide": true,
   	        "scrollY": 300,
   			"scrollX": true,
   	        "paging": true,
   	        "searching": true,
   	        "ordering":false,				
   	        "ajax": "/wyzUserDataTable",
   			"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
   	              $('td', nRow).attr('nowrap','nowrap');
   	              return nRow;
   	              }
   	    });
   		return false;
   	}
   	</script>


