  
@(campaignNamePSF:Long,campaignNameCat:Long,campaignTypeCat:Long,custCat:String,serviceType:String,fromDateValue:String,toDateValue:String,isRangeSelected:Boolean,toAssigncall:Boolean,allCRE:List[String],filteredData:List[Vehicle],dealerName:String,user:String,campaign_list:List[Campaign],locationList:List[Location],campaignList:List[Campaign],campaignListPSF:List[Campaign],psf_assign_data:List[webmodels.AssignedListForCRE],servicetypes:List[ServiceTypes])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

@helper.form(action = routes.CallInteractionController.getSelectedAssignCalls(),'enctype -> "multipart/form-data"){

<input type="hidden" name="fromDateToAss" value="@fromDateValue">
<input type="hidden" name="toDateToAss" value="@toDateValue">
<input type="hidden" name="customerCatToAss" value="@custCat">
<input type="hidden" name="serviceTypeToAss" value="@serviceType">
<input type="hidden" name="campaignTypeToAss" value="@campaignTypeCat">
<input type="hidden" name="campaignNameToAss" value="@campaignNameCat">
<input type="hidden" name="campaignPSFToAss" value="@campaignNamePSF">


<div class="panel panel-info">
        <div class="panel-heading"><strong>Call Allocation | To Assign Calls</strong> </div>
        <div class="panel-body">
            <div class="row">
                
                @if(toAssigncall){     
      <div class="col-sm-3">   
      <div class="form-group">
       <label>Assignment Type :</label>    
      <select class="form-control" name="campaignType" id="campaignTypeData">  
      <option value='0'>--Select--</option>        
          @for(list_camp <- campaign_list){
		<option value="@list_camp.id">@list_camp.campaignType</option>		
	 }
      </select>
      </div>
      </div>
      } 

                                <div class="col-md-3 campaignTypePSF" style="display:none;">
                                 <label>Select PSF Type :</label>    
                                <select  id="campaignNamePSF" name="campaignNamePSF" class="form-control" value="@campaignNamePSF">
                                      <option value='0'>--Select--</option>
                                        @for(listcamp <- campaignListPSF){
                                <option value="@listcamp.id">@listcamp.campaignName</option>		
                                         }
                                </select> 
                            </div>
            <div class="col-md-3 selectcampaign" style="display:none">
                                <div class="form-group">
                                    <label for="">Select Campaign Name</label>
                                    <select class="form-control" id="campaignName" name="campaignName" value="@campaignNameCat">	
                                        <option value='0'>--Select--</option>
                                        @for(list_camp <- campaignList){
                                <option value="@list_camp.id">@list_camp.campaignName</option>		
                                         }
                                    
                                     
                                    </select>

                                </div>
                            </div>
                           				
                                
            </div>   
              
        <div class="row">
            @if(isRangeSelected){
            <div class=col-md-3>
                    <label>Select CRE's</label>
    			<select  multiple="multiple" id="data[]" name="data[]" class="selectpicker" required="required">                        			    
                     	@for(data1 <- allCRE){                      	                         
                    
                        <option value="@data1">@data1</option>
                      				
                      	}			 	
                      					
                	</select>
                				
            </div>
            }
            @if(isRangeSelected){ 
            <div class="col-sm-3">
        <div class="form-group" >
         <label></label>  
         <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit1" name="selectedFile" style="margin-top:26px" value="assignCalls">Assign Calls</button>
     
      </div>
      </div>
           }
       @if(toAssigncall){     
      <div class="col-sm-3">   
      <div class="form-group">
       <label>From Date :</label>    
      <input type="text-primary" class="datepicker form-control" id="singleData" name="singleData" value="@fromDateValue" readonly>
      </div>
      </div>
      }
      @if(toAssigncall){
      <div class="col-sm-3">   
      <div class="form-group">   
      <label>To Date :</label>    
      <input type="text-primary" class="datepicker form-control" id="tranferData" name="tranferData" value="@toDateValue" readonly>       
     	</div>
      </div>
      }
      
	  
	 @if(toAssigncall){ 
	  	
      <div class="col-sm-3">   
      <div class="form-group">   
      <label>Customer Category :</label>    
      <select class="form-control" id="cust_category" name="cust_category" value="@custCat">
		<option value="All">All</option>
		<option value="A+">A+</option>
		<option value="B+">B+</option>
	 
      </select>       
     	</div>
      </div>
     } 
	
	  
	  @if(toAssigncall){
      <div class="col-sm-3">   
      <div class="form-group">   
      <label>Service Type :</label>    
     <select class="form-control" id="service_type" name="service_type" value="@serviceType">
						<option value="All">All</option>
					    @for(servTyp <- servicetypes){
					    	
					    	<option value="@servTyp.getServiceTypeName()">@servTyp.getServiceTypeName()</option>
					    	
					    }	  
      </select>      
     	</div>
      </div>
         
          
          <div class="col-md-3 locationSelect" >
                                           
                                                  <label for="cityName">Select City</label>
                                                  <select class="form-control" id="city" name="cityName" onchange="ajaxCallToLoadWorkShopByCity();">	
                                                     <option value='select'>--Select City--</option>
                                                       @for(location_list<-locationList){
                                                     <option value="@location_list.getName()">@location_list.getName()</option>
                                                         }
                                                  </select>

                                          
                                        </div>
                                        <div class="col-md-3 workshopSel">
                                          
                                                <label for="workshopId">Select Workshop</label>
                                                <select class="form-control" id="workshop" name="workshopId" >					  
					         <option value=""></option>
                                                </select>
                                           		 
                                        </div>
      } 
	  
	   @if(toAssigncall){
     	<div class="col-sm-3">
        <div class="form-group" >
        <button type="submit" id="js-upload-submit" name="selectedFile" class="btn btn-sm btn-primary viewAssignCalls" style="margin-top:26px" value="viewAssignCalls">View Calls</button>
     
      </div>
      </div>
           }
	   </div>
	   </div>      
           
           
        </div>
          

<div class="row">
      <div class="col-lg-12">
        <div class="panel panel-success">
          <div class="panel-heading"> List Of  Calls To Assign</div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="dataTable_wrapper">
              <table class="table table-striped table-bordered table-hover" id="dataTables-example25">
                <thead>
                  <tr>
                  					
                                    <th>Customer Name</th>
                                    <th>Mobile Number</th>                                    
                                    <th>Vehicle RegNo.</th>
                                    <th>Model</th>
                                    <th>Variant</th>
                                    <th>Next Service Date</th>
                                    
                                    
                  </tr>
                </thead>
                <tbody>
                @if(campaignTypeCat==4){               	
                  			
                  			@for(psfData <- psf_assign_data){
                 				<tr>                  				
                   				<td>@psfData.getCustomer_name()</td>
                              	<td>@psfData.getMobile_number()</td>                              	
                              	<td>@psfData.getVehicle_RegNo()V</td>
                              	<td>@psfData.getVeh_model()</td>
                                <td>@psfData.getVariant()</td>
                                <td></td>
                                
                              	</tr>
                              	}
                  }else{
                  
                  		
                             @for(post<-filteredData){
                               <tr >
                  				
                   				<td>@post.customer.customerName</td>
                              	<td>@if(post.customer.getPreferredPhone()!= null){
                              		@post.customer.getPreferredPhone().getPhoneNumber()
                              	}</td>                              	
                              	<td>@post.vehicleRegNo</td>
                              	<td>@post.model</td>
                                <td>@post.variant</td>
                                <td>@post.nextServicedate</td>                            	
                             
                                
                              	</tr>
                              	
                              	
                  }	
                  
                  }
                  
                  
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.panel-body --> 
        </div>
        <!-- /.panel --> 
      </div>
      <!-- /.col-lg-12 --> 
    </div>

}
}

<script>
        $(document).ready(function () {


        	$('.viewAssignCalls').click(function(){
            	
                var city = $("#city").val();
                var workshop = $("#workshop").val();
                var fromDate = $("#singleData").val();
                var toDate = $("#tranferData").val();
               

                if (fromDate != ''  && toDate != '' && city != 'select' && workshop != 'select') {

                	 $('.locationSelect').css("display","none");
                     $('.workshopSel').css("display","none");
                    
                    return true;
                } else {
                    
                       if (city == 'select' || city == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the city"
                        });
                        return false;

                    }
                    if (workshop == 'select' || workshop == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the workshop"
                        });
                        return false;

                    }

                    if (fromDate == '') {

                        Lobibox.notify('warning', {
                            msg: "Please enter the start date"
                        });
                        return false;

                    }
                    if (toDate == '') {

                        Lobibox.notify('warning', {
                            msg: "Please enter the End date"
                        });
                        return false;

                    }                    
                 
                }
            });

        });

    </script>
