@(assignData:List[AssignedInteraction],dealerName:String,user:String,allCRE:List[WyzUser])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

  <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading"> Assigned List Of Calls</div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="dataTable_wrapper">
              <table class="table table-striped table-bordered table-hover" id="dataTables-example36">
                <thead>
				  <tr>
                                    
                                    <th>Agent Name</th>
                                    <th>Customer Name</th>
                                    <th>Change Assignment</th>
                                    <th>Mobile Number</th>                                    
                                    <th>Vehicle RegNo.</th>
                                    <th>Model</th> 
                                    <th>Variant</th> 
                                                       
                                   
                                    
                  </tr>
                </thead>
                <tbody>
                             @for(assign_data<-assignData){
                               <tr >
				
                  		<td id="changename">@assign_data.getWyzUser().userName</td>		
                   		<td>@assign_data.getCustomer().customerName</td>
                                <td> 
				<select id="assignedNewAgent"  required="required" onchange="funcReAssignAgent('@assign_data.id','@assign_data.getWyzUser().id');">
				<option  value="0"> Select</option>
				@for(data1 <- allCRE){                      	                         
				<option value="@data1.id">@data1.userName</option>
				}			 	
                	          </select>
                                     </td>
                              	<td id="get_preffered_contact_num" value="@assign_data.getCustomer().getId()">
                              	@{if(assign_data.getCustomer().getPreferredPhone()!=null){
                              	
                              	assign_data.getCustomer().getPreferredPhone().getPhoneNumber()
                              	}
                              	}
                              	
                              	</td>
                              	<td>@assign_data.getVehicle().vehicleRegNo</td>
                              	<td>@assign_data.getVehicle().model</td> 
                              	<td>@assign_data.getVehicle().variant</td>
                              	</tr>
                  }
                  
				  
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.panel-body --> 
        </div>
        <!-- /.panel --> 
      </div>
      <!-- /.col-lg-12 --> 
    </div>
    
  
}
<script type="text/javascript">
window.onload = ajaxReqForCustomerPhone;
</script>

<script>

function funcReAssignAgent(id,userid)
{

 var rowId = id;
 var wyzUserId = userid;
  var e = document.getElementById("assignedNewAgent");
  var post_id = e.options[e.selectedIndex].value;
  
  //alert("rowId is:"+rowId+"userId is:"+wyzUserId+"postId is:"+post_id)
 

 
  var urlDisposition = "/CRE/reAssignAgent/"+ rowId+"/"+wyzUserId+"/"+post_id+"";
  
   $.ajax({
        url: urlDisposition

    }).done(function (data) {
        $("#changename").html(data);
      //  alert("data is :"+data);
	
	   if(data!=null){					
                Lobibox.alert('info', {
                msg: "Assigned interaction changed"
            });

          }
	
	//window.location.reload(); 
  
});

}
</script>