@(dealercode:String,dealerName:String,userName:String,oem:String,usersList:List[WyzUser],locationList:List[Location],workshopList:List[Workshop],campaignList:List[Campaign])
@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {
	
@helper.form(action = routes.SuperAdminController.deleteAssignedInteractionNoCall) {

	<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">   
        Assigned Call Interaction Details</div>
		<div class="panel-body" >
		  <div class="col-lg-3">
             <div class="form-group">
                <label for="userName">CRE<i style="color:red">*</i> </label>
                  <select id="usernameAssiged" name="usernameAssiged" class="form-control" required>
                    <option value="" >--Select--</option>
                    @for(users_List<-usersList){
                       <option value="@users_List.getId()">@users_List.getUserName()</option>
                    }
                  </select>
              </div>
          </div>
		 <div class="col-lg-3">
             <div class="form-group">
                <label for="location">Location<i style="color:red">*</i> </label>
                  <select id="locationAssiged" class="form-control" onclick="ajaxWorkShopByCity();" required>
                    <option value="" >--Select--</option>
                    @for(location_List<-locationList){
                       <option value="@location_List.getName()">@location_List.getName()</option>
                    }
                  </select>
              </div>
          </div>
          <div class="col-lg-3">
             <div class="form-group">
               <label for="workshop">WorkShop<i style="color:red">*</i> </label>
                 <select id="workshopAssiged" class="form-control" required>
                    <option value="" >--Select--</option>
                 </select>
             </div>
          </div>
		  <div class="col-lg-3">
             <div class="form-group">
                <label for="campaignType">Module Type<i style="color:red">*</i> </label>
                  <select id="moduleAssign" name="moduleAssign" class="form-control" onchange="ajaxCampaignByModule();" required>
    					<option value="">--Select--</option>
    					<option value="Campaign">Campaign</option>
    					<option value="PSF">PSF</option>
    					<option value="Insurance">Insurance</option>                      					
                	</select>
              </div>
          </div>		
		  <div class="col-md-2">
		     <div class="form-group">
          		<label>Select Campaign Name :<i style="color:red">*</i></label>
                   <select  id="campaignNameAssign" class="form-control" required>		
                	   <option value="" >--Select--</option>
                   </select>
			 </div>
		   </div>
		   <div class="col-md-2 campaignStartdate"  >
              <div class="form-group">
                 <label for="seldate">Select From Date</label>
                    <input type="text" class="form-control datepicker"  id="campaignFromAssign" readonly/>			  
               </div>				 
           </div>
           <div class="col-md-2 campaignExpiry">
             <div class="form-group">
                <label for="seldateExp">Select To Date</label>
                <input type="text" class="form-control datepicker" id="campaignToAssign" readonly/>
             </div>				 
           </div>
           <div class="col-md-2 campaignExpiry">
             <div class="form-group">
<label></label>
<button type="button" style="align:right;display:block;" class="expand"><a href="#view" onclick="OnSuccess()" data-toggle="modal">VIEW</a></button>
		</div>
		</div>
		 <div class="modal fade" id="view" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="panel-heading" style="background-color: #FFFF00" ><b>Assigned Call Interaction For No Call Made</b>
				<button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button><br>
				
          </div>
          <div  style="background-color: #fefefe;padding: 30px;">
           <div class="row">
					<div class="col-sm-12">
				  <div class="form-group">
          <table id="table2" class="table table-striped table-bordered table-hover" style="overflow-x:auto;">
						<thead>
							<tr>
								<th style="border:1px solid black;">WysUser Name</th>
                                <th style="border:1px solid black;">Location</th>
                                <th style="border:1px solid black;">Campaign Name</th>
                                <th style="border:1px solid black;">Customer Name</th>
                                <th style="border:1px solid black;">Vehicle Id</th>
                                <th style="border:1px solid black;">Chassis No.</th>
                                <th style="border:1px solid black;">Model No.</th>
                                <th style="border:1px solid black;">Vehicle Registration No.</th>
                                <th style="border:1px solid black;">Uploaded Date</th>
                                <th style="border:1px solid black;" hidden>id</th>
                            </tr>
						</thead>
							<tbody id="tablebody" >
							
							</tbody>
         </table>    
        </div>
         </div>
				</div>
				<center>
				<button class="btn btn-warning"  onclick="reloadAssign()" style="display:inline-block;">OK</button>
				<button type=submit class="btn btn-warning" id="clearAssigns"  style="display:inline-block;">Clear</button>
				</center>
				</div>
				  
			</div>
          	 </div>		
		
		
		
		</div>
	</div>
</div>
</div>
}
}
	<script src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"></script>
<script>
    function OnSuccess(){
        $("#view").show();
        var wyzuserId = document.getElementById("usernameAssiged").value;
        var location = document.getElementById("locationAssiged").value;
        var moduleName = document.getElementById("moduleAssign").value;
        var campaignName = document.getElementById("campaignNameAssign").value;
        var fromDate = document.getElementById("campaignFromAssign").value;
        var toDate = document.getElementById("campaignToAssign").value;
        <!-- alert(wyzuserId+" "+location+" "+moduleName+" "+campaignName+" "+fromDate+" "+toDate); -->
   		var table= $('#table2').dataTable( {
   	        "bDestroy": true,
   	        "processing": true,
   	        "serverSide": true,
   	        "scrollY": 400,
   			"scrollX": true,
   	        "paging": false,
   	        "searching": false,
   	        "ordering":false,
   	        "ajax": "/assignedInteractionDataTable/" + wyzuserId + "/" + location + "/" + moduleName + "/" + campaignName + "/" + fromDate + "/" + toDate + "",
   	        "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
   	              $('td', nRow).attr('nowrap','nowrap');
   	              return nRow;
   	              }
   	    });
   		return false;
   	}
   	</script>
   	<script>
   	function reloadAssign() {
		location.reload();
   	}
   	</script>
   	<!--  
   	<script>
    function deleteAssign() {
		
    	var module = $('#moduleAssign').val();
    	var URL = "/assignNoCallDeletion/"+module+"";
    	$.ajax({
    		type :  "POST",
    		url:URL,
    		success: function(data){
    		
    	if(data!=null){
    		
    		if(data == 0){
    			Lobibox.alert('success', {
                msg: 'successfully deleted'
    			});
    		}
    	}
    	else {
    			Lobibox.alert('error', {
                msg: "Sorry, can't be deleted"
    			});
    	
    	}
    	location.reload();
    	
    }
    	});


    }
   </script>

-->

