@(listCity:List[Location],dealerName:String,user:String,allCREHash:Map[Long,String],campaignListPSF :List[Campaign],serviceTypeList :List[ServiceTypes],dispoList:List[CallDispositionData])
@mainPageCREManger("AutoSherpaCRM",user,dealerName) {	



<style>
    td, th {
        border: 1px solid black;
        overflow: hidden; 
        text-align:center!important;
    }
</style>

        <div class="panel panel-primary">
            <div class="panel-heading">   
                PSF Call Log Information </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab" id="Tab1" onclick="PSFassignedInteractionDataMR();">Scheduled</a> </li>
                    <li><a href="#profile" data-toggle="tab" id="Tab2" onclick="ajaxPSFCallForFollowUpRequiredServerMR(4);">Follow Up Required</a> </li>
                    <li><a href="#messages" data-toggle="tab" id="Tab3" onclick="ajaxPSFCallForFollowUpRequiredServerMR(22);">Completed Survey</a> </li>
                    <li><a href="#settings" data-toggle="tab" id="Tab4" onclick="ajaxPSFCallForFollowUpRequiredServerMR(25);" >Appointments</a> </li>
                    <li><a href="#nonContacts" data-toggle="tab" id="Tab5" onclick="ajaxPSFCallForNonContactsServerMR(1);">Non Contacts</a> </li>
                    <li><a href="#droppedBuc" data-toggle="tab" id="Tab6" onclick="ajaxPSFCallForNonContactsServerMR(2);">Dropped</a> </li>
                </ul>
                <div class="tab-content">
                <div class="panel panel-default" style="border-top: #fff;">
				<div class="panel-body">
                <div class="row">
		<div class="col-md-2" id="cityDiv">
		<div class="form-group">
                <label>City </label>
               
               <select class="form-control" id="city" name="cityName" onchange="ajaxCallToLoadWorkShopByCity();"> 
                <option value='--Select--'>--Select--</option>
                
				@for(city <- listCity){                  	                         
                    <option value="@city.getName()">@city.getName()</option>
                    }
                </select>
</div>
            </div> 
			<div class="col-md-2" id="workshopDiv">
			<div class="form-group">
                <label>WorkShop Location </label>               
                <select class="form-control" id="workshop" name="workshopId" onchange="ajaxCallToLoadCRESByWorkshop();">                 			    
                

                </select>
			</div>
            </div> 
		
            <div class="col-md-2" id="cresDiv">
			 <label>Select CRE's </label>
			<div class="form-group">
              <select class="selectpicker filter form-control" data-column-index="7" id="ddlCreIds" name="ddlCreIds" multiple>
                
                    
                </select> 
</div>


            </div>
            
                <div class="col-md-2 tab-pane" id="campaignDiv" >
                                
                                <label>Select Campaign</label>
						<select class="filter form-control" id="campaignName" data-column-index="0" name="campaignName">
							<option value="0" >--Select--</option>
							@for(campaign_List<-campaignListPSF){
		                                <option value="@campaign_List.getCampaignName()">@campaign_List.getCampaignName()</option>
		                             }
		                                
						</select>
					</div>
					
					<div class="col-md-2" id="fromDateDiv">
					<label>From Assign Date : </label>
					<input type="text" class="filter form-control datepickerFilter" placeholder="From Assign Date" data-column-index="1" id="fromduedaterange" name="fromduedaterange" readonly>
				  </div>
				  <div class="col-md-2" id="toDateDiv">
					<label>To Assign Date : </label>
					<input type="text" class="filter form-control datepickerFilter" placeholder="To Assign Date" data-column-index="2" id="toduedaterange" name="toduedaterange" readonly>
				  </div>
				  </div>
				  <div class="row">
				   
						<div class="col-md-2" id="serviceTypeDiv" style="display:none;">
					
			
						<label>Select PSF Day</label>
						<select class="filter form-control" id="ServiceTypeName" data-column-index="3" name="ServiceTypeName">
							<option value="0" >--Select--</option>
							<option value="psf1stday">PSF 1st Day</option>
							<option value="psf3rdday">PSF 3rd Day</option>
							<option value="psf4thday">PSF 4th Day</option>
							<option value="psf6thday">PSF 6th Day</option>
							<option value="psf15thday">PSF 15th Day</option>
							<option value="psf30thday">PSF 30th Day</option>
							
			                                
						</select>
					</div>
					 
					<div class="col-md-3" id="serviceBookTypeDiv" style="display:none">						
					<label>Select Booked service type</label>
						<select class="filter form-control" id="serviceBookedType" data-column-index="4" name="serviceBookedType">
							<option value="0" >--Select--</option>
	
					                                
						</select>
					</div>
					<div class="col-md-3" id="lastDispoTypeDiv" style="display:none">						
					<label>Last Disposition</label>
						<select class="filter form-control" id="lastDispo" data-column-index="5" >
							<option value="0" >--Select--</option>
								@for(dispo <- dispoList){
			<option value="@dispo.getDisposition()">@dispo.getDisposition()</option>
			
		}
							
					                                
						</select>
					</div>
					<div class="col-md-3" id="droppedcountDiv" style="display:none">						
					<label>Dropped Count</label>
						<select class="filter form-control" id="droppedCount" data-column-index="6">
							<option value="0" >--Select--</option>
							<option value="1" >1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							
					                                
						</select>
					</div>
				</div>
				</div>
				</div>
                
                    <div class="panel panel-default tab-pane fade in active" id="home">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div >
                                    <table class="table table-striped table-bordered table-hover" id="PSFassignedInteractionTableMR">
                                        <thead>
                                            <tr> 

                                            
				    		<th>Campaign Name</th>
				    		<th>CRE Name</th>
				    		<th>Customer Name</th>
				    		<th>Mobile Number</th>
				    		<th>Vehicle Reg No</th>
				    		<th>Model</th>
				    		<th>RONumber</th>
				    		<th>RODate</th>
				    		<th>Bill Date</th>
				    		<th>Category</th>
                                            </tr>
                                        </thead>
                                        <tbody>								
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div >
                                    <table class="table table-striped table-bordered table-hover" id="PSFfollowUpRequiredServerDataMR4" >
                                        <thead>
                                         <tr> 
                                          		<th>Campaign Name</th>
                                          		<th>CRE Name</th>
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>                                                                   
                                                <th>Vehicle RegNo.</th>
                                                <th>FollowUp Date</th>                                    
                                                <th>FollowUp Time</th>
                                                <th>Call date</th>
                                                <th>RO Number</th>
                                                <th>RO Date</th>
                                                <th>Bill Date</th>
                                                <th>Survey Date</th>
                                                <th>Model</th>                                                                                               
                                                
                                            </tr>   
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="messages">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div >
                                    <table class="table table-striped table-bordered table-hover" id="PSFfollowUpRequiredServerDataMR22">
                                        <thead>
                                            <tr> 
                                            	<th>Campaign Name</th>
                                          		<th>CRE Name</th>
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>                                                                   
                                                <th>Vehicle RegNo.</th>
                                                <th>Call date</th>
                                                <th>RO Number</th>
                                                <th>RO Date</th>
                                                <th>Bill Date</th>
                                                <th>Survey Date</th>
                                                <th>Model</th> 
                                                                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="settings">
                         <div class="panel-body inf-content">
                        <div class="dataTable_wrapper">                            
                            <div >
                                <table class="table table-striped table-bordered table-hover" id="PSFfollowUpRequiredServerDataMR25">
                                    <thead>
                                        <tr> 
                                        	<th>Campaign Name</th>
                                          		<th>CRE Name</th>
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>                                                                   
                                                <th>Vehicle RegNo.</th>
                                                <th>Call date</th>
                                                <th>RO Number</th>
                                                <th>RO Date</th>
                                                <th>Bill Date</th>
                                                <th>Survey Date</th>
                                                <th>Model</th>
                                                <th>PSF Appointment Date</th>
                                                <th>PSF Appointment Time</th>
                                                  
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div><!--End tab panel-->
                    <div class="tab-pane fade " id="nonContacts">
                        <div class="panel-body inf-content"> 
                            <div >
                                <table class="table table-striped table-bordered table-hover" id="PSFnonContactsServerDataMR1">
                                    <thead>
                                        <tr> 
                                        	<th>Campaign Name</th>
                                       	 	<th>CRE Name</th>                         
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Call date</th>
                                                <th>RO Number</th>
                                                <th>Bill Date</th>
                                                <th>Survey Date</th>
                                                <th>Model</th>
                                                <th>Last Disposition</th>
                                                 											
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="droppedBuc">
                        <div class="panel-body inf-content">
                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="PSFnonContactsServerDataMR2">
                                        <thead>
                                                 <tr> 
                                        	<th>Campaign Name</th>
                                       	 	<th>CRE Name</th>                         
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>                                      
                                                <th>Call date</th>
                                                <th>RO Number</th>
                                                <th>Bill Date</th>
                                                <th>Survey Date</th>
                                                <th>Model</th>
                                                <th>Last Disposition</th>
                                                 											
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div><!--End tab content-->
            </div><!--End panel body-->
        </div>
   

} 

<script type="text/javascript"> 

function PSFassignedInteractionDataMR(){
    // alert("server side data load");
    document.getElementById("cresDiv").style.display = "block";
	//document.getElementById("workshopDiv").style.display = "block";
	//document.getElementById("cityDiv").style.display = "block";	
	document.getElementById("fromDateDiv").style.display = "block";
	document.getElementById("toDateDiv").style.display = "block";
	document.getElementById("campaignDiv").style.display = "block";
    //document.getElementById("serviceBookTypeDiv").style.display = "none";
    //document.getElementById("serviceTypeDiv").style.display = "block";

	//document.getElementById("lastDispoTypeDiv").style.display = "none";
	//document.getElementById("droppedcountDiv").style.display = "none";

    var UserIds="",i;
    myOption = document.getElementById('ddlCreIds');
    
for (i=0;i<myOption.options.length;i++){
    if(myOption.options[i].selected){
        if(myOption.options[i].value != "--Select--"){
    	 UserIds = UserIds + myOption.options[i].value + ",";
    	 console.log("Users id"+UserIds);
        }
    }
}
if(UserIds.length > 0){
    	UserIds = UserIds.substring(0, UserIds.length - 1);
}
else{
UserIds="Select";
}
    var ajaxUrl = "/CREManager/PSFassignedInteractionTableDataMR/"+UserIds+"";
    
    
    var table= $('#PSFassignedInteractionTableMR').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		 "scrollX": true,
        "paging": true,
        "searching":true,
        "ordering":false,	
        "ajax": ajaxUrl,
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
    } );

    FilterOptionDataMR(table);
    
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
      $($.fn.dataTable.tables(true)).DataTable()
         .columns.adjust();
   });
    
    }




function ajaxPSFCallForFollowUpRequiredServerMR(buckettype){
	document.getElementById("cresDiv").style.display = "block";
	//document.getElementById("workshopDiv").style.display = "block";
	//document.getElementById("cityDiv").style.display = "block";	
	document.getElementById("campaignDiv").style.display = "block";
	//document.getElementById("serviceBookTypeDiv").style.display = "none";
	//document.getElementById("serviceTypeDiv").style.display = "block";
	document.getElementById("fromDateDiv").style.display = "block";
	document.getElementById("toDateDiv").style.display = "block";
	document.getElementById("lastDispoTypeDiv").style.display = "block";
	//document.getElementById("droppedcountDiv").style.display = "none";
	          

	    var UserIds="",i;
	    myOption = document.getElementById('ddlCreIds');
	    
	for (i=0;i<myOption.options.length;i++){
	    if(myOption.options[i].selected){
	        if(myOption.options[i].value != "--Select--"){
	    	 UserIds = UserIds + myOption.options[i].value + ",";
	        }
	    }
	}
	if(UserIds.length > 0){
	    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
	UserIds="Select";
	}
	    var ajaxUrl = "/CREManager/PSFfollowUpCallLogTableDataMR/"+UserIds+"/"+buckettype+"";
	    
	    
	    var table= $('#PSFfollowUpRequiredServerDataMR'+buckettype).dataTable( {
	        "bDestroy": true,
	        "processing": true,
	        "serverSide": true,
	        "scrollY": 300,
			 "scrollX": true,
	        "paging": true,
	        "searching":true,
	        "ordering":false,	
	        "ajax": ajaxUrl,
			"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
	    } );

	    FilterOptionDataMR(table);
	    
	}



function ajaxPSFCallForNonContactsServerMR(buckettype){
	//alert("noncontact");
	
		document.getElementById("cresDiv").style.display = "block";
		//document.getElementById("workshopDiv").style.display = "block";
		//document.getElementById("cityDiv").style.display = "block";	
		document.getElementById("campaignDiv").style.display = "block";
		//document.getElementById("serviceBookTypeDiv").style.display = "none";
		//document.getElementById("serviceTypeDiv").style.display = "none";
		document.getElementById("fromDateDiv").style.display = "block";
		document.getElementById("toDateDiv").style.display = "block";
		document.getElementById("lastDispoTypeDiv").style.display = "block";
		//document.getElementById("droppedcountDiv").style.display = "block";

	var UserIds="",i;
    myOption = document.getElementById('ddlCreIds');
    
for (i=0;i<myOption.options.length;i++){
    if(myOption.options[i].selected){
        if(myOption.options[i].value != "Select"){
    		UserIds = UserIds + myOption.options[i].value + ",";
        }
    }
}
	if(UserIds.length > 0){
    	UserIds = UserIds.substring(0, UserIds.length - 1);
	}
	else{
		UserIds="Select";
	}
    var ajaxUrl = "/CREManager/PSFnonContactsServerDataTableMR/"+UserIds+"/"+buckettype+"";
     
    var table = $('#PSFnonContactsServerDataMR'+buckettype).dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		 "scrollX": true,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": ajaxUrl,
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
    } );

    FilterOptionDataMR(table);
    
    }






</script>
<script type="text/javascript">  
function FilterOptionDataMR(table){
	var values = [];
	$('.filter').on('change', function() {
    	console.log("inside filteroptionsdata data");
	    var i= $(this).data('columnIndex');
	    var v = $(this).val();
	    console.log("i : "+i);
		console.log("v length "+v.length);
	    
	    if(v.length>0){
		    
		    if(i == 7){	

		    	var UserIds="",j;
		        myOption = document.getElementById('ddlCreIds');
		        console.log("here"+myOption);		        
		    for (j=0;j<myOption.options.length;j++){
		        if(myOption.options[j].selected){
		            if(myOption.options[j].value != "Select"){
		        		UserIds = UserIds + myOption.options[j].value + ",";
		            }
		        }
		    }
		    	if(UserIds.length > 0){
		        	UserIds = UserIds.substring(0, UserIds.length - 1);
		        	values[7]=UserIds;
		    	}else{
		    		UserIds="Select";
		    		values[7]=UserIds;
		    	}
		    
		    }else{
		    	values[i] = v;
			    }
	
			       
		  
		    }		    
	    
	    	console.log(JSON.stringify(values));	   	
	  	  //clear global search values
	 	  //table.api().search('');
	 	  $(this).data('columnIndex');
	 	 //var table = $('#nonContactsServerDataMR').dataTable();
	 	 if(values.length>0) {
			 for(var i=0;i<values.length;i++){
				 console.log("values[i] : "+values[i]);	
			    table.api().columns(i).search(values[i]);
			 }
			 table.api().draw(); 
		}
	 	
		 	  
	});
	
	
}
</script>

 <script type="text/javascript">
	window.onload = PSFassignedInteractionDataMR();
</script>
    