@(row_count:Integer,dealercode:String,dealerName:String,userName:String,getUsersList:List[WyzUser]) 

@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {

 @helper.form(action = routes.CallInteractionController.toUpdateRoasterUnAvailablity(),'enctype -> "multipart/form-data"){
<div class="row"> 
<div class="col-lg-12">
        <div class="panel panel-primary">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
            <h4 class="panel-title accordion-toggle"></h4>
            <span style="width:45px;"/>&nbsp;</span> </div>
      <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#home"><b class="tabFonts">CRE Roster</b></a></li>
                <li><a data-toggle="tab" href="#menu1"><b class="tabFonts">Service Advisor Roster</b></a></li>
                <li><a data-toggle="tab" href="#menu2"><b class="tabFonts">Driver Roster</b></a></li>
              </ul>
          <div class="tab-content scrollable-menu">
                <div id="home" class="tab-pane fade in active"> <br>
                
                      <div class="col-md-12"> 
              
                     <table class="table table-striped table-bordered table-hover" >
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>Check UnAvailable<th>
                   
                
                </tr>
              </thead>
           <tbody>
                   @for(i <- 0 to row_count){
                   @if(getUsersList(i).getRole()==("CRE")){
                   <tr>
                       <input type="hidden" name="userList[@i].role" value="@getUsersList(i).getRole()">
                       <td><input type="text" name="userList[@i].userName" style="border:none;" readonly value="@getUsersList(i).getUserName()"></td>
                       <td><input type="checkbox" name="userList[@i].unAvailable" value=true></td>
                    </tr>
                    }
                   
                }
             </tbody>      
            </table>   
                            <button type="submit" class="btn btn-sm btn-primary" id='js-upload-submit' name="selectedFile" value="CRE">UPDATE</button>
                  </div>
     
       </div>
                <div id="menu1" class="tab-pane fade scrollable-menu1"> <br>
              <div class="col-md-12"> 
              
                     <table class="table table-striped table-bordered table-hover" >
              <thead>
                <tr>
                  <th>User Name</th>
                   <th>Check UnAvailable<th>
                   
                </tr>
              </thead>
           <tbody>
                  @for(i <- 0 to row_count){
                  @if(getUsersList(i).getRole().equals("Service Advisor")){
                    <tr> <input type="hidden" name="userList[@i].role" value="@getUsersList(i).getRole()">
                         <td><input type="text" name="userList[@i].userName" style="border:none;" readonly value="@getUsersList(i).getUserName()"></td>
                         <td><input type="checkbox" name="userList[@i].unAvailable" value=true></td>
                    </tr>
                    }
                } 
             </tbody>      
            </table> 
                   <button type="submit" class="btn btn-sm btn-primary" id='js-upload-submit' name="selectedFile" value="ServiceAdvisor">UPDATE</button>
                 
                  
                  </div>
            </div>
                <div id="menu2" class="tab-pane fade scrollable-menu2"> <br>
                     <div class="col-md-12"> 
              
                     <table class="table table-striped table-bordered table-hover" >
              <thead>
                <tr>
                   <th>User Name</th>
                  <th>Check UnAvailable <th>
                      
                  
                  
                </tr>
              </thead>
             <tbody>
                
                 @for(i <- 0 to row_count){
                  @if(getUsersList(i).getRole().equals("Driver")){
                 
                    <tr>
                        <input type="hidden" name="userList[@i].role" value="@getUsersList(i).getRole()">
                       <td><input type="text" name="userList[@i].userName" style="border:none;" value="@getUsersList(i).getUserName()" readonly></td>
                       <td><input type="checkbox" name="userList[@i].unAvailable" value=true></td>
                    </tr>
                    }
                }
             
             </tbody>     
            </table> 
             <button type="submit" class="btn btn-sm btn-primary" id='js-upload-submit' name="selectedFile" value="Driver">UPDATE</button>
                  </div>
                  
                
            </div>
            
              </div>
        </div>
          </div>
    </div>
      </div>
    </div>
}
}