@(dealercode:String,dealerName:String,userName:String,oem:String)
@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode,oem) {

<script type="text/javascript">

 $(document).ready(function() {
    var table = $('#customerSearchTable').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,
        "ajax": "/searchByCustomerv2"
        
    } );

    var values=[];

  
	
   $('.filter').on('change', function() {
	   
	   var i= $(this).data('columnIndex');
	   var v = $(this).val();
	   if(v.length>0){
		  if(i < 9)
		   values[i] = v;
		  else if(i == 9){			  
			  values[9] = v;
			  values[4] = values[4]+","+values[9];}
		   
	   }
	   
	   	console.log(JSON.stringify(values));
	   	
     	  //clear global search values
    	  //table.api().search('');
    	  $(this).data('columnIndex');
    	  
    	  
   });


   $('#searchCust').on('click',function(){

	  // alert(values.length);
	   if(values.length>0) {
			for(var i=0;i<values.length;i++){
				
			   table.api().columns(i).search(values[i]);
			}
			table.api().draw();
	   }
	}); 

   $('#saveSearchbtn').on('click',function(){	  
	  var searchnamesave = document.getElementById('searchnamesave').value;
      var urlDisposition = "/checkIfSearchNameExists/" + searchnamesave + "";
          $.ajax({
        url: urlDisposition

    }).done(function (data) {
	console.log("data:"+data);
	
        if(data == 0){
        	if(values.length>0) {

                
    			for(var i=0;i<values.length;i++){
    				
    			   table.api().columns(i).search(values[i]);
    			}
    			table.api().draw();
    			Lobibox.notify('success', {
    	            msg: 'Sucessfully saved....'
    	        });
    			
    	   }
        }else{
        	Lobibox.notify('warning', {
	            msg: 'Saved Search name already exists....'
	        });
        }
        
    });
   });
     
   
   
   $('#clearFilters').on('click',function(){

	 
	
		$('.filter').each(function(){
				$(this).val('');
			});
		
		table = $('#customerSearchTable').dataTable( {
	        "bDestroy": true,
	        "processing": true,
	        "serverSide": true,
	        "scrollY": 300,
	        "paging": true,
	        "searching":true,
	        "ordering":false,
	        "ajax": "/searchByCustomerv2"
	        
	    } );
	   
	});
  
    
 
});
</script>	
	
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading"><b>Customer Search</b></div>
      <div class="panel-body">
	  <div class="panel panel-default">
	  <div class="panel-body">
      <div class="row">
      	<div class="col-md-12">
      		
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>Search Name</label>
      						<input type="text" class="filter form-control" data-column-index="0" placeholder="Search Name" />
      				</div>
      			</div>
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>Search Vehicle</label>
      						<input type="text" class="filter form-control" data-column-index="1" placeholder="Search Vehicle" />
      				</div>
      			</div>
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>Search Category</label>
      						<input type="text" class="filter form-control" data-column-index="2" placeholder="Search Category" />
      				</div>
      			</div>
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>Search Phone</label>
      						<input type="text" class="filter form-control" data-column-index="3" placeholder="Search Phone" />
      				</div>
      			</div>
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>Search Service Date From</label>
      					<input type="text" class="form-control" data-column-index="4" placeholder="Search Sercie Date" />	
      				</div>
      			</div>
      		 <div class="col-md-2">
      				<div class="form-group">
      				<label>Search Service Date To</label>
      					<input type="text" class="form-control" data-column-index="9" placeholder="Search Sercie Date" />	
      				</div>
      			</div>
      			
      			
      			
      	</div>
      </div>
  
      <div class="row">
      	<div class="col-md-12">
      		<div class="col-md-2">
      				<div class="form-group">
      				<label>Search Model</label>
      					<input type="text" class="filter form-control" data-column-index="5" placeholder="Search Model" />	
      				</div>
      			</div>
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>Search Variant</label>
      					<input type="text" class="filter form-control" data-column-index="6" placeholder="Search Variant" />
      				</div>
      			</div>
      			
      			<div class="col-md-2">
      				<div class="form-group">
      				<label>&nbsp;</label>
      					 <button type="submit" id="searchCust" class="btn btn-primary start btn-block">
                    			<i class="fa fa-search"></i>
                    			<span>Search</span>
        				</button>
						</div>
						</div>
						<div class="col-md-2">
      				<div class="form-group">
      				<label>&nbsp;</label>
        				 <button type="submit" id="clearFilters" class="btn btn-primary start btn-block">
                    			<i class="fa fa-eraser"></i>
                    			<span>Clear</span>
        				</button>
 	
      				</div>
      			</div>
      			 
      	</div>
      </div>
      </div>
      </div>
      
       
		  <div class="panel panel-default">
		  <div class="panel-body">
      <div class="dataTable_wrapper">
      <table class="table table-striped table-bordered table-hover" id="customerSearchTable">
      
       
                 <thead>
                                 <tr>
                                    <th>Customer Name</th>
                                    <th>Vehicle RegNo.</th>
                                    <th>Category</th>                                   
                                    <th>Phone Number</th>                                    
                                    <th>Next Service Date</th>
                                    <th>Model</th>
                                    <th>Variant</th>                                   
                                    <th>Service</th>
                                    <th>Insurance</th>
                                    <th>PSF</th>
                                 </tr>
                              </thead>

                                <tbody>
                                   
                   				</tbody>
           </table>
        </div>
        </div>
        </div>
        <div class="row">
        	<div class="col-md-12">
        		<div class="col-md-2">
        			<div class="form-group">
        			<label>Saved Search</label>
        			<input type="text"  id ="searchnamesave" class="filter form-control" data-column-index="8" placeholder="Search Name">
        			</div>
        		</div>
        		<div class="col-md-2">
        			<div class="form-group">
        			<label>&nbsp;</label> <br />
        			  <button type="submit" id="saveSearchbtn" class="btn btn-primary start">
                    <i class="fa floppy-o"></i>
                    <span>Save</span>
        </button>
        			</div>
        		</div>
        	</div>
        </div>
     
    
       </div>
    </div>
  </div>
</div>

}